/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

/* https://www.w3schools.com/howto/howto_js_dropdown.asp */
/* dropdown menu  */
#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.navbar {
    overflow: hidden;
    background-color:#ca9f65;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
   
    box-shadow: 0px 8px 16px 0px  #ca9f65;
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }

/* index.html */
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color:#ca9f65;
    padding: 10px;
}

.grid-item {
    background-color:#ca9f65;
    border: 1px dotted #ca9f65;
    padding: 20px;
    font-size: 10pt;
    text-align: center;
    color: white;
}

.grid-item > div {
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px dashed rgb(233, 167, 44);
}

.responsive {
  width: 24.7%;
  height: 150px;
}


/* kids.html, mens.html, womens.html */
h1 {
  color:white;
  text-align: center;
}
body {
  background-color:#ca9f65;
}
h3 {
  color:white;
  margin-left: 150px;
}
.flex-container1 {
  display: flex;
  flex-wrap: wrap;
  background-color: #ca9f65;
  text-align: left;
  color:white;
}

.flex-container1 > div {
  padding: 5px;
  font-size: 20px;
}
li {
    text-align: left;
    padding: 1ex;
    color:white;
    font-size: 20px;
    margin-left: 150px;
}
h2 {
  text-align: center;
}

.responsive1 {
  width: 525px;
  height: 500px;
  display: block;
  margin-left: 125px;
  margin-right: auto;
}

/* https://www.w3schools.com/css/css_align.asp */
.center {
  margin: auto;
  width: 50%;
  /* border: 3px solid green; */
  padding: 10px;
}

span {
  color: white;
}

p {
  color: white;
}


/* For collapsible Objective style guide credit to w3schools 
 https://www.w3schools.com/howto/howto_js_collapsible.asp */
.collapsible {
  background-color: rgb(59, 104, 163);
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: rgb(137, 171, 235);
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #cf6b95;
}

.btnCenter {
  text-align: center; 
}

